*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Forces inheritance up the DOM tree*/
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

.screen__frame {
  padding: 3rem 5rem;
  border-radius: 10px;
  background: #dde5c3;
  box-shadow: inset 7px 7px 8px #b7bea2, inset -7px -7px 8px #ffffe4;
  background-color: greenyellow; }

.screen__text {
  font-size: 4rem;
  color: #fff;
  font-family: "PT Mono", monospace;
  letter-spacing: 0.2rem; }

.round-btn {
  position: relative;
  display: inline-block;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: #1c1c27;
  box-shadow: 5px 5px 10px #0e0e13, -5px -5px 10px #2a2a3b;
  transition: all 0.2s;
  margin: 2rem; }
  .round-btn__label {
    font-family: "PT Mono", monospace;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #adadaa; }
  .round-btn:hover {
    cursor: pointer; }
  .round-btn:hover .round-btn__label {
    color: #fa03ee;
    text-shadow: 0 0 1rem rgba(250, 3, 238, 0.548), 0 0 2rem rgba(250, 3, 238, 0.397); }
  .round-btn:active, .round-btn:focus {
    box-shadow: inset 5px 5px 10px #0e0e13, inset -5px -5px 10px #2a2a3b; }
  .round-btn:active .round-btn__label,
  .round-btn:focus .round-btn__label {
    transform: scale(0.95) translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

body {
  padding: 3rem;
  background: #1c1c27; }
