// COLORS
$color-1: #7400b8ff;
$color-2: #6930c3ff;
$color-3: #5e60ceff;
$color-4: #5390d9ff;
$color-5: #4ea8deff;
$color-6: #48bfe3ff;
$color-7: #56cfe1ff;
$color-8: #64dfdfff;
$color-9: #72efddff;
$color-10: #80ffdbff;

// FONT
$default-font-size: 1.6rem;
$font-sans: 'Open Sans', sans-serif;
$font-mono: 'PT Mono', monospace;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
